/target/
**/target/
Cargo.lock
*.bin
*.elf
*.vmexe
*~
\#*\#
.dir-locals.el

# bench logic-proof cache
/arm_circuits/cache/

# Elixir / mix
/_build/
/deps/
/doc/
/cover/
*.ez
erl_crash.dump

# rustler NIF build artifact
*.so